 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<style>

.wrapper { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 500ms ease infinite;
-z-animation: rainbow 500ms ease infinite;
-o-animation: rainbow 500ms ease infinite;
  animation: rainbow 500ms ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

</style>


<div onload="" class="wrapper"><img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> <img class="gif" src="https://media.tenor.com/images/0550c8f579ccff080ee07aec0150da27/tenor.gif"> </div>

<script>
    
$(".gif").fadeOut(0);

setTimeout(function(){
    $(".gif").fadeIn();
}, 3500);
    

</script>